@import url("https://fonts.googleapis.com/css2?family=Lancelot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.bi-house,
.bi-bar-chart,
.bi-file-earmark,
.bi-chat-left-dots {
  color: #c4c4c4;
}
.Content {
  width: 100%;
}
.bi-box-arrow-in-left {
  cursor: pointer;
}
.imgWrapper {
  position: relative;
}
.imgComponent {
  position: absolute;
  top: 30%;
  left: 10%;
  color: #fff;
  text-align: left;
  font-family: "Source Sans Pro", sans-serif;
}
.imgComponent h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
}
.Home-container {
  width: 100%;
  padding-left: 60px;
  padding-right: 50px;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  overflow: auto;
}
.imgComponent .playbutton {
  width: 62px;
  height: 32;
  background: #ffffff;
  box-shadow: 0px 2px 8px #00333f;
  border-radius: 3px;
  font-weight: 600;
  font-size: 10px;
  color: #0094b6;
}
.sharebutton {
  background-color: #ffffff;
  width: 24px;
  height: 22px;
  border-radius: 3px;
  box-shadow: 0px 2px 8px #00333f;
  color: #0094b6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.carousel {
  width: 870px;
  border-radius: 10px;
}
.thumbs-wrapper {
  margin: 0 !important;
}
.carousel img {
  height: 467px;
}
.artist {
  min-width: 30%;
  height: 467px;
  background-image: url("https://thegioidienanh.vn/stores/news_dataimages/donguyetanh/102019/19/01/3518_ZC_41_H2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  position: relative;
}
.artist h1 {
  position: absolute;
  top: 5%;
  left: 20%;
  color: rgb(255, 255, 255, 0.8);
  font-family: "Lancelot", cursive;
}
.btn {
  height: 60px;
  width: 60px;
}
.artis-music {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.artist-musicplayer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 467px;
  min-width: 80%;
  background-color: #8c7fd4;
  opacity: 0.8;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
}
.artist-musicplayer img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.song-info h1 {
  font-size: 2rem;
  color: #fff;
  font-family: "Nerko One", cursive;
  margin: 0;
}
.song-info p {
  color: #ddd;
  font-family: sans-serif;
}
.input-slide {
  width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
  appearance: none;
  height: 1px;
}
.input-slide:focus {
  outline: none;
}
.input-slide::-webkit-slider-thumb {
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 100%;
}
.controller {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.btn:nth-child(2) {
  width: 80px;
  height: 80px;
}

@media (max-width: 500px) {
  .artist-musicplayer img {
    width: 200px;
    height: 200px;
  }
}

.animation-spin {
  animation-name: spin;
  animation-timing-function: linear;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.lazyimage-Container {
  position: relative;
}
#canvas_element {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
}
.app-root {
}
.Graph {
  height: 375px;
  background: #ffffff;
  /* Tables */

  box-shadow: 0px 3px 6px rgba(75, 81, 91, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.des {
  width: 20px;
  height: 20px;
}
.fanContainer {
  padding: 20px;
  border-bottom: 1px solid #c1c3c7;
}
.fanBox-Wrapper {
  background: #ffffff;
  /* Tables */

  box-shadow: 0px 3px 6px rgba(75, 81, 91, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 563px;
  overflow: auto;
}
.fanBox-Wrapper::-webkit-scrollbar {
  display: none;
}
.fanContainer h5 {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.01em;

  color: #2e3b52;
}
.fanContainer select {
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.01em;

  color: #a6acbe;
}
.fanHourWrapper {
  height: 100%;
}

.fanItem {
  padding: 15px;
  transition: all 0.2s ease-in;
}
.fanItem:hover {
  background-color: rgb(71, 66, 66);
  color: #fff;
  border-radius: 10px;
}
.fanImgHolder {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: antiquewhite;
}
.fanHourWrapper h5 {
  letter-spacing: 0.01em;

  color: #a6acbe;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-left: 10px;
}
.streamText {
  padding: 20px;
  border-bottom: 1px solid #c1c3c7;
}
.streamText h5 {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.01em;

  color: #2e3b52;
}
.Pie {
  background: #ffffff;
  /* Tables */

  box-shadow: 0px 3px 6px rgba(75, 81, 91, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.map {
  background: #ffffff;
  /* Tables */

  box-shadow: 0px 3px 6px rgba(75, 81, 91, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 100%;

  position: relative;
}
.map_fit {
  max-height: -webkit-fill-available;
}
.mapTitle {
  position: absolute;
  top: 20px;
  left: 30px;
}
.msg {
  display: flex;
  padding: 20px 10px 0 20px;
  margin: 20px;
  border-radius: 3000px;
  box-shadow: 0 0 10px rgb(164, 164, 164);
  align-items: center;
}

.sent {
  background-color: #395dff;
  color: white;
  border-top-right-radius: 1000px;
  flex-direction: row-reverse;
  padding: 20px 20px 0 10px;
  text-align: end;
  float: right;
}

.received {
  border: 1px solid lightgray;
  background-color: #fafafa;
  border-top-left-radius: 1000px;
  float: left;
}
.msgs {
  margin: 110px 0;
  display: flex;
  flex-direction: column;
}
